@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// =================================
//         GENERAL STYLES
// =================================

// # Front-end Style Guide

// ## Layout

// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px

// ## Colors

// ### Neutral

$white: hsl(0, 0%, 98%);
$grey: hsl(0, 0%, 41%);
$black: hsl(0, 0%, 8%);

$mbig: 5vh;
$msmall: 3vh;
// ## Typography

// ### Body Copy

// - Font size (paragraph): 18px

// ### Font

// - Family: [Epilogue](https://fonts.google.com/specimen/Epilogue)
// - Weights: 500, 700
//font-family: 'Epilogue', sans-serif;

// =================================

body {
    font-family: 'Epilogue', sans-serif;
    color: $grey;

    header {

        nav ul {
            display: flex;
            padding: $msmall 3rem;
            list-style: none;

            img {
                margin-right: 3rem;
            }

            li {
                justify-content: space-between;
            }

            a {
                text-decoration: none;
                color: $grey;
            }

            a:hover {
                color: rgb(52, 52, 52);
            }

            .mRight {
                margin-right: 3rem;
            }

            .login {
                margin-left: auto;

                .register {
                    border: 1px solid $grey;
                    border-radius: 15px;
                    padding: 1rem 1.5rem;
                    margin-left: 3rem;
                }
            }
        }
    }

    main {
        display: flex;

        .linkesDiv {
            flex-basis: 60%;
            padding: 10vh 0 0 8%;

            h1 {
                font-size: 10vh;
                color: $black;
            }

            p {
                margin-top: $mbig;
                width: 45%;
                line-height: $msmall;
            }

            a {
                margin-top: $mbig;
                color: $white;
                text-decoration: none;
                background: $black;
                padding: 2vh 1.5vw;
                display: inline-block;
                border-radius: 10px;
                border: 1px solid $black;
            }

            a:hover {
                background: $white;
                color: $black;
                transition: 0.2s;
            }

            .unteresDiv {
                margin-top: 10vh;
                margin-right: $msmall;

                img {
                    margin-right: $msmall;
                }
            }
        }

        .rechtesDiv {
            // background: url("../img/image-hero-desktop.png") center / cover;
            flex-basis: 40%;
            padding: 0 8% 0 0;

            img {
                width: 90%;
            }
        }
    }
}